[Unit]
Description=LibreChat MongoDB
Before=librechat-app.service

[Container]
ContainerName=librechat-db
Image=docker.io/library/mongo:latest
Volume=%h/containers/librechat/mongodb:/data/db:Z
Network=systemd-librechat
NetworkAlias=librechat-db
AutoUpdate=registry
Environment=GLIBC_TUNABLES=glibc.cpu.hwcaps=SHSTK
UserNS=keep-id

[Service]
Restart=always

[Install]
WantedBy=default.target
